@import '/src/styles/placeholders.scss';

.chat-window {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__title {
        @extend %window-title;

        color: var(--bg-200);
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        overflow: hidden;
    }
}
