@import '@styles/placeholders';

.chat-window {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &__title {
        @extend %window-title;

        color: var(--bg-200);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 95%;
        overflow: hidden;
    }
}
