.theme-btn {
    position: relative;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    background-color: var(--bg-200);
    border: 1px solid var(--primary-200);
    height: 40px;
    width: 70px;
    transition: all 0.3s ease-out;

    &:hover {
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    }

    &::before {
        content: '';
        position: absolute;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        top: 50%;
        left: 8px;
        transform: translateY(-50%);
        transition: all 0.3s ease-in;
        background-color: var(--primary-200);

        .dark & {
            left: 50%;
            background-color: var(--primary-200);
        }
    }

    &::after {
        content: url('../../assets/sun.png');
        position: absolute;
        top: 55%;
        left: 14px;
        transform: translateY(-50%);
        transition: all 0.3s ease-in;

        .dark & {
            content: url('../../assets/moon.png');
            left: 40px;
        }
    }
}
