.login {
    &__input {
        position: relative;

        svg {
            position: absolute;
            left: 8px;
            top: 8px;
            fill: var(--primary-200);
        }
    }

    &__error {
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: red;
    }

    input {
        padding: 0.75rem 1rem 0.75rem 2.75rem;

        &::placeholder {
            font-size: 1rem;
            font-family: Roboto-Bold;
            text-transform: uppercase;
            color: var(--primary-200);
            opacity: 0.6;
        }
    }
}
