@import '/src/styles/mixins';

.form-layout {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--background-gradient);

    &__wrapper {
        padding: 2rem;
        border-radius: 8px;
        background-color: var(--bg-100);
        transition: all 0.2s ease-out;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    }

    &__title {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;

        h1 {
            font-size: 3rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        p {
            a {
                text-decoration: underline;

                @include for-link {
                    color: var(--primary-200);
                }
            }
        }
    }

    &__content form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem;
        gap: 1rem;
    }
}
