@import '@styles/mixins';
@import '@styles/placeholders';

.form-layout {
    @include flexCenterBothAxis;

    width: 100vw;
    height: 100vh;
    background: var(--background-gradient);

    &__wrapper {
        padding: 2rem;
        border-radius: 8px;
        background-color: var(--bg-100);
        transition: all 0.2s ease-out;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
    }

    &__title {
        @include flexCenterBothAxis;

        flex-direction: column;
        gap: 0.5rem;

        h1 {
            @extend %logo-title;

            font-size: 3rem;
        }

        p {
            color: var(--primary-200);

            a {
                text-decoration: underline;

                @include forLink {
                    color: var(--primary-200);
                }
            }
        }
    }

    &__content form {
        @include flexCenterBothAxis;

        flex-direction: column;
        padding: 2rem;
        gap: 1rem;
    }

    &__buttons {
        position: absolute;
        bottom: 1rem;
        left: 0.75rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
}
