@import '/src/styles/placeholders.scss';

.side-nav {
    display: flex;
    flex-direction: column;
    width: 100px;

    &__logo {
        @extend %logo-title;
        @extend %window-title;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.75rem;
        height: 100%;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        cursor: pointer;
        margin: auto;
        padding: 0;
        list-style-type: none;
        gap: 0.5rem;
    }

    &__item {
        @extend %sidenav-item;

        &--active svg {
            background-color: var(--primary-200);
        }
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    &__user {
        svg,
        img {
            @extend %profile-image;

            padding: 0.25rem;
            margin-bottom: 0.5rem;
            fill: var(--accent-200);
            transition: all 0.3s ease-out;
        }

        p {
            text-align: center;
            font-weight: 600;
            color: var(--text-100);
        }
    }
}
