.side-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;

    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        cursor: pointer;
        margin: auto;
        padding: 0;
        list-style-type: none;
        gap: 0.5rem;
    }

    &__item {
        svg {
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            width: 48px;
            height: 48px;
            background-color: var(--bg-200);
            border: 1px solid var(--primary-200);
            border-radius: 8px;
            padding: 0.5rem;
            fill: var(--accent-200);
            transition: all 0.3s ease-out;
        }

        &--active svg {
            background-color: var(--primary-200);
        }
    }
}
