.form-layout { 
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    .form-layout__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
    }

    .form-layout__right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;

    }
}