.form-layout {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;

    &__left {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 60%;
    }

    &__right {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 40%;
    }
}
