/* dark mode / light mode */
$primary-50: #000000; // #e8eaf6
$primary-100: #000000; // #c5cae9
$primary-200: #000000; // #9fa8da
$primary-300: #000000; // #7986cb
$primary-400: #ffffff; // #5c6bc0
$primary-500: #ffffff; // #3f51b5
$primary-600: #ffffff; // #3949ab
$primary-700: #ffffff; // #303f9f
$primary-800: #ffffff; // #283593
$primary-900: #ffffff; // #1a237e
$primary-A100: #000000; // #8c9eff
$primary-A200: #000000; // #536dfe
$primary-A400: #ffffff; // #3d5afe
$primary-A700: #ffffff; // #304ffe
