/* dark mode */
$primary-50: #000000;
$primary-100: #000000;
$primary-200: #000000;
$primary-300: #000000;
$primary-400: #ffffff;
$primary-500: #ffffff;
$primary-600: #ffffff;
$primary-700: #ffffff;
$primary-800: #ffffff;
$primary-900: #ffffff;
$primary-A100: #000000;
$primary-A200: #000000;
$primary-A400: #ffffff;
$primary-A700: #ffffff;
