/* variables */
$background-gradient: linear-gradient(120deg, rgba(232, 234, 246, 1) 10%, rgba(125, 137, 204, 1) 60%);

$primary-100: #0066cc;
$primary-200: #5c93ff;
$primary-300: #ccf6ff;
$accent-100:#6FA8DC;
$accent-200:#004e7b;
$text-100: #333333;
$text-200: #5c5c5c;
$bg-100: #e6f2ff;
$bg-200: #dce8f5;
$bg-300: #b4bfcc;

$white-color: #ffffff;
$primary-logo: #00a8e8;
