/* light mode */
$primary-50: #e8eaf6;
$primary-100: #c5cae9;
$primary-200: #9fa8da;
$primary-300: #7986cb;
$primary-400: #5c6bc0;
$primary-500: #3f51b5;
$primary-600: #3949ab;
$primary-700: #303f9f;
$primary-800: #283593;
$primary-900: #1a237e;
$primary-A100: #8c9eff;
$primary-A200: #536dfe;
$primary-A400: #3d5afe;
$primary-A700: #304ffe;
