/* font definition */
@use './font';

/* global classes and styles definitions */
@use 'sass:meta';
@use './themes/light' as light;
@use './themes/dark' as dark;
@use './colors' as general;

@import './mixins';
@import './variables';

$general: meta.module-variables('general');
$light: meta.module-variables('light');
$dark: meta.module-variables('dark');

@include addCssVariables($general);
@include addThemeCssVariables($light, 'light');
@include addThemeCssVariables($dark, 'dark');
