// Creates css variables from scss variables
@mixin addCssVariables($module) {
    :root {
        @each $name, $value in $module {
            --#{$name}: #{$value};
        }
    }
}

// Creates css variables from scss variables depending on mode
@mixin addThemeCssVariables($module, $mode) {
    :root .#{$mode} {
        @each $name, $value in $module {
            --#{$name}: #{$value};
        }
    }
}

@mixin forLink {
    &:active,
    &:link,
    &:visited {
        @content;
    }
}

@mixin resetListStyles {
    padding: 0;
    margin: 0;
    list-style: none;
}

@function iconUrl($icon) {
    @return url('/src/assets/#{$icon}.svg');
}

@mixin lineClamp($lines-amount) {
    display: -webkit-box;
    -webkit-line-clamp: $lines-amount;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@mixin disableUserSelect {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin customScroll {
    ::-webkit-scrollbar {
        width: 8px;
        background: var(--primary-200);
        background-clip: content-box;
        border-radius: 100px;
    }

    ::-webkit-scrollbar-thumb {
        border: 1px solid transparent;
        background: var(--accent-200);
        background-clip: content-box;
        border-radius: 100px;
    }
}

@mixin flexCenterBothAxis {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin forTheme($theme) {
    .#{$theme} & {
        @content;
    }
}
