/* font definition */

@use './font';

/* global classes and styles definitions */

@use 'sass:meta';
@use './themes/light' as light;
@use './themes/dark' as dark;
@use './colors' as general;

@import './mixins';

$general: meta.module-variables('general');
$light: meta.module-variables('light');
$dark: meta.module-variables('dark');

@include add-css-variables($general);
@include add-theme-css-variables($light, 'light');
@include add-theme-css-variables($dark, 'dark');

.button {
    font-family: Roboto-Bold;
    font-size: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary-200);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background: var(--bg-100);
    color: var(--text-100);
    transition: all 0.2s;

    &:hover {
        background: var(--bg-200);
        color: var(--accent-100);
        border-color: var(--bg-300);
    }

    &.active {
        background: var(--primary-200);
    }

    &--text-large {
        font-size: 1.1rem;
    }

    &--flat {
        background: none;
        border: none;
        box-shadow: none;
    }
}
