@import './general';

* {
    box-sizing: border-box;
}

#root {
    display: none;
}

body {
    margin: 0;
}

#root,
body {
    @include customScroll;

    height: 100vh;
    font-family: Roboto-Light;
    font-size: 16px;
    overflow-y: hidden;
}

button {
    cursor: pointer;
}

main {
    height: 100%;
}

img {
    display: block;
    height: 100%;
    width: 100%;
}

svg {
    display: block;
    flex-shrink: 0;
}

p {
    margin: 0;
}

a,
a:active,
a:link {
    text-decoration: none;
}

h1 {
    font-family: Roboto-Bold;
}

input {
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
    border-radius: 8px;
    border: 1px solid var(--primary-200);
    background: var(--bg-200);
    color: var(--text-100);
    outline: none;

    &:-webkit-autofill {
        font-size: 1.2rem;
    }

    &::placeholder {
        color: var(--text-200);
    }

    &[type='radio'] {
        margin: 0.25rem;
        cursor: pointer;

        + label {
            cursor: pointer;
        }
    }
}

@for $i from 1 through 6 {
    h#{$i} {
        margin: 0;
        color: var(--text-100);
    }
}

@for $i from 2 through 6 {
    h#{$i} {
        font-family: Roboto-Regular;
    }
}

.button {
    font-family: Roboto-Bold;
    font-size: 1rem;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--primary-200);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    background: var(--bg-100);
    color: var(--text-100);
    transition: all 0.2s;

    &:hover {
        background: var(--bg-200);
        border-color: var(--primary-100);
        color: var(--accent-100);
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    }

    &.active {
        background: var(--primary-200);
    }

    &.button--theme {
        @extend %theme-btn;
    }

    &.button--locale {
        @extend %locale-btn;
    }

    &--text-large {
        font-size: 1.1rem;
    }

    &--flat {
        background: none;
        border: none;
        box-shadow: none;
    }
}
