.home {
    display: flex;
    background-color: var(--primary-50);
    color: var(--primary-900);

    > * {
        padding: 12px;

        &:not(:last-child) {
            border-right: 1px solid var(--primary-600);
        }
    }
}
