.home {
    font-size: 40px;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 4fr;
    background-color: var(--primary-50);
    text-align: center;

    div {
        border: 1px solid black;
        &:first-child {
            grid-column-start: 1;
            grid-column-end: 3;
        }
    }
}
