@import '/src/styles/_mixins.scss';

.options-list {
    display: flex;
    align-items: center;
    justify-content: center;

    &__wrapper {
        position: relative;
    }

    &__button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 32px;
        height: 32px;
        gap: 2px;
        border: none;
        background: none;
        padding: 0.5rem;
        transition: all 0.3s ease-out;

        span {
            display: block;
            background: var(--accent-200);
            border-radius: 100px;
            width: 16px;
            height: 3px;
            transition: all 0.3s ease-out;
        }

        &--active span {
            position: absolute;
            transform: rotate(45deg);

            &:nth-child(2) {
                transform: rotate(-45deg);
            }
        }
    }

    &__content {
        @include reset;

        display: none;
        flex-direction: column;
        position: absolute;
        top: 32px;
        right: 0;
        z-index: 2;
        min-width: 100px;
        gap: 0.5rem;
        padding: 0.5rem;
        background: var(--primary-200);
        border: 3px solid var(--accent-200);

        li {
            text-align: center;
            font-weight: 600;
            color: var(--accent-200);
            white-space: nowrap;
            transition: all 0.3s ease-out;

            &:hover:not(:first-of-type) {
                background-color: var(--bg-100);
            }

            &:first-of-type {
                color: var(--primary-white);
            }
        }

        &--show {
            display: flex;
        }
    }
}
