@import '@styles/mixins';

.chat-controls {
    @include flexCenterBothAxis;

    height: 15%;
    flex-direction: row;
    gap: 1rem;
    padding: 0.5rem;

    input {
        width: 80%;
    }

    button {
        height: 40px;

        svg {
            fill: var(--accent-200);
        }
    }
}
